# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the real secret key used in production secret!
SECRET_KEY="wrmnr_)ffvihaem(^1vf4*&^n3mthvi-x$74kco07azh0-feb5"

# Database example
DATABASE_URL=psql://postgres:postgres@db:5432/artigo

EMAIL_HOST='example.smtp.server'
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER='exampleUsername'
EMAIL_HOST_PASSWORD='examplePassword'
DEFAULT_FROM_EMAIL='info@example.com'