/db
/opensearch
/media
/dump
/images
/mediafiles
/convert
/media_input
/dump_input
.vscode/
.git


**/venv
**/dist
**/node_modules
**/__pycache__
**/Dockerfile

*.md
docker-compose.yml
*.example
*.db
*.txt

.env
.coveragerc
