.vscode/
**/venv
/db
/opensearch
/media
/dump
/images
/mediafiles
/convert
/media_input
/dump_input
.idea
**/dist
**/node_modules
.git
*.md
Dockerfile
**/__pycache__
celerybeat-schedule.db
.env
.coveragerc