.capitalize {
  text-transform: capitalize;
}

.disabled {
	display: none;
}

span.clip {
	text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px !important;
}

p {
  hyphens: auto;
}

.v-expansion-panel-content__wrap {
  padding: 0;
}

.v-pagination__item, .v-pagination__navigation {
  box-shadow: none;
}

.v-alert .v-select .v-input__control {
  max-width: 65px;
  min-height: 14px;
}

.v-alert .v-select .v-input__append-outer {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 24px;
}

.v-alert .v-select .v-select__selection {
  margin-top: 0;
}
