p,
div {
  hyphens: auto;
}

b,
strong {
  font-weight: bold;
}

span.clip {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px !important;
}

span.clip.w100 {
  max-width: 100% !important;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.disabled {
	display: none;
}

.blur > span {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.87);
  color: transparent !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  opacity: 0;
}

.max-w {
  width: 100%;
}

.v-footer.v-footer--inset:not(.theme--dark ) {
  background-color: rgb(247, 248, 251);
}

.v-toolbar__content .v-btn.v-btn--icon.v-size--default {
  height: 36px !important;
  width: 36px !important;
}

.theme--light.v-autocomplete.primary--text .v-input__append-inner {
  color: rgba(0, 0, 0, 0.87) !important;
}

.v-autocomplete .v-input__append-outer {
  margin-top: 0 !important;
}

.v-autocomplete .v-input__prepend-inner {
  padding-right: 16px !important;
}

.v-autocomplete:not(.v-input--is-focused).v-select--chips input {
  max-height: 25px !important;
}

.v-autocomplete__content.v-menu__content {
  max-width: 340px;
  margin-top: 4px;
}

.v-menu__content {
  border-radius: 28px !important;
}

.v-menu__content > .v-sheet.v-list {
  padding-top: 0;
  padding-bottom: 0;
}

.v-chip {
  border-color: rgba(0, 0, 0, 0.12) !important;
}

.theme--light.v-btn.grey--text:not(.v-btn--icon) > span {
  color: rgba(0, 0, 0, 0.87) !important;
}

.v-btn:not(.v-btn--round):not(.v-btn--block).v-size--default {
  min-width: 125px !important;
}

.v-btn.v-size--default {
  font-size: 1rem !important;
}

.dark-variant .v-btn.v-btn--has-bg:not(.primary) {
  color: rgba(0, 0, 0, 0.87) !important;
}

.v-select.v-select--is-menu-active .v-input__icon--append .v-icon {
  transform: rotate(0) !important;
}

.v-select.v-select--chips.v-input--dense .v-select__selections {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 73px;
}

.v-expansion-panel-header {
  line-height: 1.5 !important;
}

.v-expansion-panel-header > :not(.v-expansion-panel-header__icon) {
  flex: initial !important;
}

.v-expansion-panels--flat > .v-expansion-panel::before,
.v-sheet.v-alert:not(.v-sheet--outlined),
.v-sheet.v-card--flat {
  box-shadow: none !important;
}

.v-expansion-panel-header > span {
  padding-top: 1px;
}

.v-stepper {
  overflow: inherit !important;
}

.v-stepper .v-stepper__step--editable:hover {
  background: transparent !important;
}

.v-stepper--vertical .v-stepper__step > .v-ripple__container {
  display: none;
}

.v-stepper--vertical > div:first-child .v-stepper__step {
  padding-top: 8px;
}

.v-stepper--vertical > div:not(:last-child) .v-stepper__content {
  border-left: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.v-stepper__step.disabled .v-stepper__step__step {
  background-color: rgba(0, 0, 0, 0.16) !important;
  border-color: rgba(0, 0, 0, 0.16) !important;
}

.v-stepper__step__step .v-stepper__label,
.v-stepper__step__step .v-stepper__label > small {
  color: rgba(0, 0, 0, 0.16) !important;
}

.v-stepper__step .v-stepper__label,
.v-text-field--single-line .v-select__selections {
  line-height: 1.5 !important;
}

.v-text-field--single-line .v-select__selections {
  margin: 5px 0;
}

.v-stepper__content.active .v-stepper__wrapper {
  overflow: inherit !important;
}

.v-slide-group__prev--disabled,
.v-slide-group__next--disabled {
  display: none !important;
}
