.capitalize {
  text-transform: capitalize;
}

.disabled {
	display: none;
}

span.clip {
	text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px !important;
}

p {
  hyphens: auto;
}

.v-expansion-panel-content__wrap {
  padding: 0;
}
