@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap');

$body-font-family: Montserrat, sans-serif !important;
$heading-font-family: $body-font-family;

html,
body,
.v-application {
  font-family: $body-font-family;
}

.v-application {
  .display-4,
  .display-3,
  .display-2,
  .display-1,
  .headline,
  .title,
  .subtitle-1,
  .subtitle-2,
  .text-subtitle-1,
  .text-subtitle-2,
  .body-1,
  .body-2,
  .caption,
  .text-caption,
  .overline {
    font-family: $body-font-family;
  }
}

$btn-text-transform: none !default;
$btn-letter-spacing: 0 !default;
$btn-outline-border-width: 2px !default;

$text-field-outlined-fieldset-border-width: 2px !default;
$text-field-outlined-fieldset-border: 2px solid currentColor !default;

$border-radius: 28px;
$card-border-radius: $border-radius;
$alert-border-radius: $border-radius;
$dialog-border-radius: $border-radius;
$snackbar-border-radius: $border-radius !important;

$icon-outlined-border-width: 2px;
$expansion-panel-content-padding: 0;
$card-title-word-break: break-word !default;

$stepper-content-padding: 24px 0 16px !default;
$stepper-vertical-step-padding: 24px 0 16px !default;
$stepper-vertical-content-ltr-margin: -8px -12px -16px 12px !default;
$stepper-vertical-content-rtl-margin: -8px 12px -16px -12px !default;
$stepper-vertical-content-ltr-padding: 16px 48px 16px 23px !default;

$background-color-light: rgb(247, 248, 251);

$material-light: (
  'input-bottom-line': #e0e0e0,
  'text-fields': (
    'outlined': #e0e0e0,
    'outlined-disabled': #eeeeee,
    'outlined-hover': #bdbdbd,
  ),
  'app-bar': $background-color-light,
  'dividers': $background-color-light,
  'background': $background-color-light,
  'navigation-drawer': $background-color-light,
);

$background-color-dark: rgb(66, 71, 152);

$material-dark: (
  'text': (
    'secondary': '#ffffff',
  ),
  'cards': '#ffffff',
  'app-bar': $background-color-dark,
  'dividers': $background-color-dark,
  'background': $background-color-dark,
);
