DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=artigo_influx
DOCKER_INFLUXDB_INIT_PASSWORD=replace-this-password
DOCKER_INFLUXDB_INIT_ORG=artigo_org
DOCKER_INFLUXDB_INIT_BUCKET=telegraf
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=replace-this-token